h1 {
    color: white;
}

h2 {
    color: #4F5A4E;
}

h3 {
    color: #6b5740
}

p {
    color: #333333;
}

li {
    color: rgb(43, 9, 9);
    font-size: 25px;
    font-weight: bold;
}

#myheader {
    color: white;
}

.myHeader {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(43, 9, 9);
}

.newFont {
    text-align: center;
    font-family: 'Nova Flat';
    font-size: 22px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(43, 9, 9);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#nav_bar ul li a.active-page {
    background-color: white;
}